<section class="intouch_footer hideme backgroundcolor">
    <div class="row position_relative">
        <div class="text-center div_center padding_top_bottom">
            <h2 class="h1_centered hideme">Stay in touch</h2>
            <p class="body_black">
                Each month we release a newletter on how we do what we do. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            </p>
            <div class="ginput_container ginput_container_text"><input name="input_2" id="input_5_2" type="text" value="" class="medium" tabindex="2" placeholder="Enter your email address…"></div>
            <p class="header_case_study_black hideme">
                <a href="javascript:void();" class="show_footer_contact">
                    sign up to our newsletter
                </a>
            </p>
        </div>
    </div>
</section>