<footer class="page">
    <div class="row column">
        <div class="large-12 column">
            <p class="text-center foooter_social_link">
                <a href="https://www.facebook.com/newrepublique/?fref=ts" target="_blank">
                    <i class="fab fa-facebook-f fa-lg"> </i>
                </a>
                <a target="_blank" href="https://www.linkedin.com/company/new-republique">
                    <i class="fab fa-linkedin"></i><span></span></a>
                <a href="https://www.youtube.com/channel/UCHb09lOf2KIdpmCXSsQoEvA" target="_blank">
                    <i class="fab fa-youtube"></i><span></span></a>
                <a target="_blank" href="http://www.slideshare.net/nyassini">
                    <i class="fab fa-slideshare"></i><span></span></a>
                <a target="_blank" href="https://www.instagram.com/newrepublique/">
                    <i class="fab fa-instagram"></i><span></span></a>
            </p>
        </div>
    </div>
</footer>