<section class="header slide-1 active">
    <a href="/cro">
        <div class="slideImage" style="background: #eee url({{ site.baseurl }}/{{ page.hero-banners['banner1'].media }}) no-repeat;"></div>
        <div class="slideContent display-flex justify-content-center flex-direction-column max-width-60vh">
            <h2>{{ page.hero-banners['banner1'].heading }}</h2>
            <p>{{ page.hero-banners['banner1'].text }}</p>

            <div>
                <p class="view-more">Learn More</p>
            </div>
        </div>
    </a>
</section>

<section class="header slide-2">
    <a href="/work">
        <div class="slideImage" style="background: #eee url({{ site.baseurl }}/{{ page.hero-banners['banner2'].media }}) no-repeat;"></div>
        <div class="slideContent display-flex justify-content-center flex-direction-column max-width-60vh">
            <h2>{{ page.hero-banners['banner2'].heading }}</h2>
            <p>{{ page.hero-banners['banner2'].text }}</p>

            <div>
                <p class="view-more">Learn More</p>
            </div>
        </div>
    </a>
</section>